<nav style="background-color:#fffaea!important" class="navbar  fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

      <a class="navbar-brand" href="#page-top">DunnoWhatToEat</a>


    <div style="max-width: 300px;" class="collapse navbar-collapse d-flex" id="bs-example-navbar-collapse-1">
      <div class="navbar-nav">
        <a class="nav-link" href="#search">Search</a>
        <a class="nav-link" href="#random">Random Recipes</a>
        <a class="nav-link" href="#about">About</a>

      </div>

    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
