
  <mat-form-field style="width:100%;" appearance="fill">
    <mat-label>Insert your ingredients</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip *ngFor="let key of ingredientsKeywords" (removed)="remove(key)">
        {{key}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input placeholder="Ingredient..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>
  <button (click)="search()"  type="button">cerca</button>
  <button (click)="searchLike()"  type="button">cerca like</button>
 <button (click)="searchFewIngredients()"  type="button">search few ingredients</button>
